/* importar fuente desde 1 solo sitio, cual??? */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: #222222;
}

body {
    background-color: #f5f5f5eb;
    height: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom:60px;
}

main {
    padding-bottom: 79px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height:50px;
    background: #222222;
    color:#f5f5f5eb;
}

section {
    display: flex;
    /* padding-top: 5%; */
    margin: 3%;
    flex-grow: 4;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

#optionalDiv {
    display: none;
}

input, #optional, #searchBtn, #nextBtn{
    background-color: rgb(251, 251, 251);
    border-radius: 6px;
}

#titleSearch {
    max-width: 45%;
}

#submit, #reset, #optional, #searchBtn, #nextBtn, #titleSearch, #yyyy {
    padding: 1% 1%;
    margin: 1% 0 0 0;
    border-style: outset;
    border-color: rgba(72, 50, 46, 0.479);
}

#titleSearch {
    border-style: inset;
}

#reset{
    float: right;
}

#nextBtn {
    /* display: block; */
    justify-content: space-around;
    height: 27.05;
    width: 60%;
    /* padding: 1px; */
    display: inline-block;
    float: right;
}

/*=======================
        pseudo-clase
=======================*/
#searchBtn:hover,
#searchBtn:focus {
    background: #e3ffdf;
}

#reset:hover,
#reset:focus {
    background: #ffc1b9;
}

button:focus, #searchBtn {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
/* pseudo-clase */

#film-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
}

img {
    padding-top: 6%;
    max-width: 96%;
    /* display: inline-block */
    align-items: center;
}

p {
    padding-top: 1%;
}

/*=======================
        768
=======================*/
@media screen and (min-width: 768px){
    .flex-container {
        flex-direction: row;
        gap: 20px;
    }

    .flex-reverse {
        flex-direction: row-reverse;
    }

    .box {
        width: calc(50% - 10px);
    }

    .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .text {
        font-size: 2em;
    }
}
/* 768 */

/*=======================
        1200
==========================*/
@media screen and (min-width: 1200px){
    
    .box {
        width: auto;
        flex: 1;
        min-width: 30%;
    }

    .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .text {
        font-size: 2.5em;
    }
}
/* 1200 */

