/* importar fuente desde 1 solo sitio, cual??? */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: #222222;
}

body {
    background-color: #f5f5f5eb;
    height: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom:60px;
}

main {
    padding-bottom: 79px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height:50px;
    background: #222222;
    color:#f5f5f5eb;
    text-align: center;
    padding: 12px;
}

section {
    display: flex;
    margin: 3%;
    flex-grow: 4;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

label {
    margin-top: 20px;
}

#optionalDiv {
    display: none;
}

input, #optional, #searchBtn, #nextBtn{
    background-color: rgb(251, 251, 251);
    border-radius: 6px;
}

#titleSearch {
    max-width: 45%;
}

#submit, #reset, #optional, #searchBtn, #nextBtn, #titleSearch, #yyyy {
    padding: 1% 1%;
    margin: 1% 0 0 0;
    border-style: outset;
    border-color: rgba(72, 50, 46, 0.479);
}

#titleSearch {
    border-style: inset;
}

#reset{
    float: right;
}

#nextBtn {
    /* display: block; */
    justify-content: space-around;
    height: 27.05;
    width: 60%;
    /* padding: 1px; */
    display: inline-block;
    float: right;
}

/*=======================
        pseudo-clase
=======================*/
#searchBtn:hover,
#searchBtn:focus {
    background: #e3ffdf;
}

#reset:hover,
#reset:focus {
    background: #ffc1b9;
}

button:focus, #searchBtn {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#film-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
}
/* pseudo-clase */

img {
    padding-top: 6%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}

h4 {
    margin-top: 2%;
    text-align: center;
    color: #8b8b8b;
}

p {
    margin-top: 1%;
}
/*=======================
        600
=======================*/
@media screen and (min-width: 600px){
    body {
        background-color: #ffdff0;
    }
    #film-info {
        display: flex;
    }
    div {
        flex: 33.33%;
	  height: 200px;
	  padding: 10px;
	  margin: 5px;
	  background-color: #cccccc;
	  text-align: center;
    }


}
/* 600 */

/*=======================
        768
=======================*/
@media screen and (min-width: 768px){
    body {
        background-color: #e3ffdf;
    }
    .flex-container {
        flex-direction: row;
        gap: 20px;
    }
    /* #optional {
        position: relative;
        top: 35px;
        left: -333px;
    } */

    .flex-reverse {
        flex-direction: row-reverse;
    }

    .box {
        width: calc(50% - 10px);
    }

    .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .text {
        font-size: 2em;
    }
}
/* 768 */

/*=======================
        992
=======================*/
@media screen and (min-width: 992px){
    body {
        background-color: #f9dfff;
    }
    film-info {
        color: #ffc1b9;
    }
}
/* 992 */

/*=======================
        1200
==========================*/
@media screen and (min-width: 1200px){
    body {
        background-color: #dffbff;
    }
    
    .box {
        width: auto;
        flex: 1;
        min-width: 30%;
    }

    .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .text {
        font-size: 2.5em;
    }
}
/* 1200 */

